* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    color: white;
}

#service{
    color: aliceblue;
    margin: auto;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}


.container {
    padding: 70px;
}
.container h2{
  font-size: 60px;
}
.title{
  color: #0ef;
}


.sList {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.sList div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
    1px 1px 40px #012290f7
}

.sList div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.sList div h2 {
    color: green;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.sList div p {
    font-size: 15px;
}
.sList div a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    /* margin-top: 20px; */
    display: inline-block;
}
.read{
    display: inline-block;
    margin-top: 30px;
    padding: 20px;
    background: cyan;
    border-radius: 40px;
    font-size: 20px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
}
.read:hover{
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef, 0 0 50px #0ef,
    0 0 100px #0ef, 0 0 200px #0ef;
}
.sList div:hover{
    transform: translateY(-15px);
}